Imported all the required libraries

In [3]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np

request method to get connect with the link

In [4]:
webpage = requests.get('https://en.wikipedia.org/wiki/List_of_companies_of_India')

Response '200' shows the code has no error

In [5]:
webpage

Reading the content with soup method

In [6]:
soup = BeautifulSoup (webpage.text, 'html.parser')

extracting the requied table

In [7]:
table =soup.find_all('table', class_='wikitable sortable')

In [8]:
df=  pd.read_html(str(table))

In [9]:
df

[   Rank  Image                             Name 2019 Revenues (USD $M)  \
 0   106    NaN              Reliance Industries                $82,331
 1   117    NaN           Indian Oil Corporation                $77,587
 2   160    NaN  Oil and Natural Gas Corporation                $61,420
 3   236    NaN              State Bank of India                $47,286
 4   275    NaN                 Bharat Petroleum                $42,935

    Employees                                              Notes
 0     194056  Reliance Industries is a true conglomerate wit...
 1      35442  Indian Oil provides products and services all ...
 2      43743  State-owned crude oil and gas company, current...
 3     257252  The bank is a state-owned, multi-national fina...
 4      12865  Government controlled oil and gas company in M...  ,
                               Name           Industry  \
 0                    Aban Offshore          Oil & gas
 1                     ABG Shipyard        Industrials
 2                        ABP Group  Consumer services
 3                      ACC Limited        Industrials
 4                     Action Group       Conglomerate
 ..                             ...                ...
 399  Zee Entertainment Enterprises  Consumer services
 400                       Zee News  Consumer services
 401            Zensar Technologies         Technology
 402               Zoho Corporation         Technology
 403                         Zomato         Technology

                             Sector Headquarters Founded  \
 0         Exploration & production      Chennai    1986
 1                     Shipbuilding    Ahmedabad    1985
 2     Broadcasting & entertainment      Kolkata    1922
 3    Building materials & fixtures       Mumbai    1936
 4                                -    New Delhi    1972
 ..                             ...          ...     ...
 399   Broadcasting & entertainment       Mumbai    1992
 400   Broadcasting & entertainment       Mumbai    1999
 401                       Software         Pune    1991
 402                       Software      Chennai    1996
 403                       Internet     Gurugram    2008

                                  Notes
 0                   Oil, petrochemical
 1                     Ship engineering
 2                          Media, news
 3                               Cement
 4    Apparel, chemicals, retail, steel
 ..                                 ...
 399                        Broadcaster
 400                       News channel
 401           IT services and software
 402       Business management software
 403                             Search

 [404 rows x 6 columns]]

In [10]:
df[0]

,Rank,Image,Name,2019 Revenues (USD $M),Employees,Notes
0,106,NaN,Reliance Industries,"$82,331",194056,Reliance Industries is a true conglomerate wit...
1,117,NaN,Indian Oil Corporation,"$77,587",35442,Indian Oil provides products and services all ...
2,160,NaN,Oil and Natural Gas Corporation,"$61,420",43743,"State-owned crude oil and gas company, current..."
3,236,NaN,State Bank of India,"$47,286",257252,"The bank is a state-owned, multi-national fina..."
4,275,NaN,Bharat Petroleum,"$42,935",12865,Government controlled oil and gas company in M...

In [11]:
big_company = df[0]

In [12]:
company = df[1]

In [13]:
company.to_csv('company_wiki.csv')

In [14]:
big_company.to_excel('Big_company_wiki.xlsx', sheet_name = 'Big Companies in India')